<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0px">
  
    <div fxFlex="50">
        <mat-card *ngIf="dish">
            <mat-card-header>
              <mat-card-title>
                <h3>{{dish.name | uppercase}}</h3>
              </mat-card-title>
            </mat-card-header>
         <img mat-card-image src={{dish.image}} alt={{dish.name}}>
            
            <mat-card-content>
              <p>{{dish.description}}</p>
            </mat-card-content>
            <mat-card-actions>

                <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
                <span class="flex-spacer"></span>

                <button mat-button (click)="goBack()">BACK</button>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
              <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
    
              

            </mat-card-actions>
          </mat-card>
    </div>
    
    <div [hidden]="dish">
        <mat-spinner></mat-spinner> <h4>Loading . . . Please wait</h4>
    </div>

    <div fxFlex="40">
        <mat-card *ngIf="dish">
            <mat-card-header>
              <mat-card-title>
                <h3>Comments</h3>
              </mat-card-title>
            </mat-card-header>
            
            <mat-card-content *ngFor="let coment of dish.comments">
             <p>{{coment.comment}}</p>
             <p>{{coment.rating}} stars</p>
             <p>--{{coment.author }} {{coment.date | date}}</p>
            </mat-card-content>
   
          </mat-card>
    </div>
    

  </div>





